
.header{
	background-color:grey;
	font-family: fantasy;
	font-size: 30px;
	padding: 0.02px;
	
} 

.footer{
	background-color:#980000;
	
}

.bood{
	background-image: url("C:\Users\Hudson Taylor\Pictures\bg.jpg");
}

#phreak{
	position: absolute;
	font-size: 10px;
	left: 600px;
	top: 130px;
}

.header img{
		float:left;
		width:130px;
		height:120px;
		background-color:transparent;
		position: relative;
		left: 5px;
		top: 10px;
}

.header h1{
		position:relative;
		left:15px;
}